---
title: Test the API | View Self Assessment Account Service Guide
weight: 2
---

<%= partial 'documentation/partials/google_tag_manager_js' %>

# Test the API

Use this guide to test the View Self Assessment Account API in HMRC’s sandbox environment.

## Before you start

- Read [how to use the Developer Hub](https://developer.service.hmrc.gov.uk/api-documentation/docs/using-the-hub)
- Follow the [HMRC testing guidelines](https://developer.service.hmrc.gov.uk/api-documentation/docs/testing)

## Sandbox base URL

```
https://test-api.service.hmrc.gov.uk
```

## Endpoint

Use the `GET` method to get Self Assessment data for a test user:

```json
GET /individuals/self-assessment/breakdown/{utr}[?fromDate={fromDate}]
```

- Replace `{utr}` with a test UTR from the list of scenarios below.
- Replace `{fromDate}` with an optional query parameter in `YYYY-MM-DD` format.

## Test scenarios

The API returns dynamic data based on the `fromDate` you provide.

If `fromDate` is not provided, the API returns data for the current and previous tax year.

Use the UTR values below to simulate different responses.

<table>
    <tr>
      <th>UTR</th>
      <th>Description</th>
      <th>Expected Response</th>
    </tr>
    <tr>
        <td>A valid UTR</td>
        <td>Provide an auth token linked to the UTR in the request path.</td>
        <td><strong>200 Success</strong></td>
    </tr>
    <tr>
        <td>An invalid UTR</td>
        <td>Send a request with an invalid UTR format.</td>
        <td><strong>400 Bad Request</strong></td>
    </tr>
    <tr>
      <td>A valid UTR</td>
      <td>Provide an auth token linked to a <strong>different</strong> UTR than the one in the request path.</td>
      <td><strong>401 Unauthorized</strong></td>
    </tr>
    <tr>
      <td>HIP0000404</td>
      <td>No data found for the UTR provided.</td>
      <td><strong>404 Not Found</strong></td>
    </tr>
    <tr>
      <td>CD00000500</td>
      <td>Unexpected server error.</td>
      <td><strong>500 Internal Server Error</strong></td>
    </tr>
</table>

> **Note:** These UTRs only work in sandbox and will not return live data.



Refer to the [API specification](/api-documentation/docs/api/service/self-assessment-liability-api/1.0/oas/page) for example requests and responses.

